<header style="background-color: white; color: black;text-align: left">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="box">
          <div class="box-body">
            <%= form_tag password_resets_path, :method => :post do %>
                <div class="field">
                  <%= label_tag :email %>
                  <%= text_field_tag :email, params[:email] %>
                </div>
                <div class="actions"><%= submit_tag "Reset Password" %></div>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </header>