<div class="form-group has-feedback">
  <%= f.text_field :home, :class => 'form-control', :placeholder => 'Home Address (Optional)' %>
</div>
<div class="form-group has-feedback">
  <%= f.text_field :work, :class => 'form-control', :placeholder => 'Work Address (Optional)' %>
</div>