<div class="textColumn well-lg">
  <h1>Deliv<span>My</span></h1>
  <p>Peer to Peer Delivery Application</p>
 <span class="fa fa-refresh fa-spin fa-5x"></span>
  <br>
  <br>

  <div class="row">
    <a href="https://www.facebook.com/Delivmi-1668033366799787/"><i class="fa fa-facebook-official fa-3x"></i></a>
  </div>
  <% @category.each do |f| %>
  <ul class="list-unstyled">
    <li><h3><%= f.CatName %></h3></li>
  </ul>
      <% end %>
</div>



