// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  //width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  width: 345px;
  margin: 1% auto;
}

.box.box-info {
  border-top-color: #00c0ef;

}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

//list request show
.products-list {
  //list-style: none;
  margin: 0;
  //padding: 0;
}
.products-list .product-description {
  display: block;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.products-list .product-info {
  margin-left: 20px;
}
.products-list .product-title {
  font-weight: 600;
}

.with-border {
  border-bottom: 1px solid #f4f4f4;
}
