// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sessions h3, .sessions h2{

  color: #cc0038;
  font-family: 'Circular Pro Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  text-align: center;
}

