// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-box, .register-box {
  width: 360px;
  margin: 7% auto;
}

.login-box-body, .register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}

.login-box-msg, .register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.users h3, .users h2{

  color: #cc0038;
  font-family: 'Circular Pro Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
  text-align: center;
}